


.item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.slide {
    width: 250px !important;

}
.swiper {
    padding: 0 30px;
    transition: all .8s ease-in-out;
    transform: translateX(100vw);
    opacity: 0;
}

.imgitem {
    width: 100%;
    height: 370px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: rgba(97, 97, 97, 0.2) 0px 8px 24px;
}

.block {
    overflow: hidden;
    padding: 40px 0;
    box-shadow: inset rgba(23, 23, 23, 0.73) 0px 8px 24px, rgba(23, 23, 23, 0.73) 0px 8px 24px ;
}

.itemBottom {
   
    margin-top: 25px;
    color: #cfcfcf;
    font-weight: 500;
    font-size: 17px;

}

.titleItem {
    color: var(--white);
    font-size: 18px;
    margin-right: 5px;
}

.upperImg {
    position: absolute;
    width: 100%;
    max-height: 370px;
    height: auto;
    border-radius: 5px;

    background-color: #090909b2;
    opacity: 0;
    pointer-events: none;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: scroll;
    transition: all .35s ease-in-out;
    cursor: pointer;
    z-index: 2;
}

.item:hover  .upperImg {
    opacity: 1;
    pointer-events: all;
}

.upperImg::-webkit-scrollbar {
    width: 0;
}

.title {
    margin-bottom: 55px;
}

.upperText {
    position: relative;
    color: #cfcfcf;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
}

.item {
    margin: 0 auto;
}

.linkItem {
    width: auto;
}

.activeBlock .swiper{
    opacity: 1;
    transform: none;
}

.itemBottom {
    display: grid;
    grid-template-rows: repeat(2, auto);
}

.itemBottomHead {
   
}

.item {
    position: relative;
}

.rating {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 5;
}
.itemEnTitle {
    display: inline-block;
    font-size: 12px;
    margin-bottom: 5px;
}