.btn {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: var(--red);
    border-radius: 10px;
    color:#fff;
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
    letter-spacing: 1px;
}



.btn .textBtn {
    z-index: 20;
}

.leftThing {
    background: #fff;
    backdrop-filter:blur(10px);
    content: "";
    height: 155px;
    left: -75px;
    opacity: .2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: 1;
}

.tripBtn:hover  .leftThing  {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

