.section {
    overflow: hidden;
}


.item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.slide {
    width: 250px !important;

}
.swiper {
    padding: 0 30px;
}

.imgitem {
    width: 100%;
    height: 370px;
    border-radius: 5px;
    box-shadow: rgba(97, 97, 97, 0.2) 0px 8px 24px;
}

.block {
    padding: 40px 0;
    box-shadow: inset rgba(23, 23, 23, 0.73) 0px 8px 24px, rgba(23, 23, 23, 0.73) 0px 8px 24px ;
}

.itemBottom {
   
    margin-top: 25px;
    color: #cfcfcf;
    font-weight: 500;
    font-size: 17px;

}

.titleItem {
    color: var(--white);
    font-size: 18px;
    margin-right: 5px;
}

.upperImg {
    position: absolute;
    width: 100%;
    height: 370px;
    border-radius: 5px;

    background-color: #090909b2;
    opacity: 0;
    pointer-events: none;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: scroll;
    transition: all .35s ease-in-out;
    cursor: pointer;
    z-index: 2;
}

.item:hover  .upperImg {
    opacity: 1;
    pointer-events: all;
}

.upperImg::-webkit-scrollbar {
    width: 0;
}

.title {
    margin-bottom: 55px;
}

.upperText {
    position: relative;
    color: #cfcfcf;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
}

.contTitle {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 30px;
    align-items: start;
    justify-content: start;
    transition: all .6s cubic-bezier(.17,.74,.66,.95) ;
    border: 3px solid #2222;
    transform: translateX(20vw);
    opacity: 0;
}

.contActive {
    transform: translateX(0vw);
    opacity: 1;
}

.linkItem {
    display: block;
    width: 47px;
    height: 42px;
}

.arrow {
    display: inline-block;
    margin-top: 2px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: all .45s cubic-bezier(.17,.74,.58,1.16) ;
    transform: translateX(-60px);
    opacity: 0;
    background-image: url('./.../../../../../assets/arrow-red.svg');
}

.contTitle:hover .arrow {
    opacity: 1;
    transform: translateX(-55px);

}


.linkMore {
    display: block;
}